<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>index</title>
    <link rel="stylesheet" href="../static/css/common.css" type ="text/css" />
    <link rel="stylesheet" href="../static/css/index.css" type ="text/css" />
    <link rel="stylesheet" href="../static/css/pattern.css" type ="text/css" />
  </head>
  <body>
  <div id="index-wrap">
    <header class="header">
      <section class="header-anchor">
        <div class="header-fix">
            <div class="header-search"><div class="search-blank">search</div></div>
            <div class="header-logo"><h3>Cedar Blog</h3></div>
            <div class="header-userinfo">
              <div class="user-portrait"><a href="#">sign in</a></div>
              <ul class="social-links">
                <li class="qq"><a href="#">qq</a></li>
                <li class="email"><a href="#">email</a></li>
                <li class="github"><a href="#">github</a></li>
              </ul>
          </div>
        </div>
  
        <nav class="header-navbar">
            <div class="header-blur-box blur-layer"></div>
            <ul class="nav-menu">
              <li class="menu-item"><a href="#">INDEX</a></li>
              <li class="menu-item"><a href="#">STUDY</a></li>
              <li class="menu-item"><a href="#">DIARY</a></li>
              <li class="menu-item"><a href="#">PHOTO</a></li>
              <li class="menu-item"><a href="#">ABOUT</a></li>
            </ul>
        </nav>

      </section>
      <div class="banner">
        <h2>Welcome to my blog</h2>
      </div>

    </header>
    <div id="body">
      <article class="post">
        <section class="post-excerpt bg-cog">
          <div class="post-info">
            <div class="info-wrap">
              <h2 class="post-title">标题</h2>
              <p class="post-lead">到这里差不多都介绍完了。还有一些其他的页面，比如关于我、标签云、归档等等，就不详细介绍了。大家可以根据以上这些内容自己设计。到这里差不多都介绍完了。还有一些其他的页面， 比如关于我、标签云、归档等等，就不详细介绍了。大家可以根据以上这些内容自己设计。</p>
              <div class="post-meta">
                <span class="post-time">2019.3.21</span>
                <span class="post-tag">测试</span>
              </div>
            </div>
          </div>
        </section>
      </article>
      <article class="post">
        <section class="post-excerpt bg-cog">
          <div class="post-info">
            <div class="info-wrap">
              <h2 class="post-title">标题</h2>
              <p class="post-lead">到这里差不多都介绍完了。还有一些其他的页面，比如关于我、标签云、归档等等，就不详细介绍了。大家可以根据以上这些内容自己设计。到这里差不多都介绍完了。还有一些其他的页面， 比如关于我、标签云、归档等等，就不详细介绍了。大家可以根据以上这些内容自己设计。</p>
              <div class="post-meta">
                <span class="post-time">2019.3.21</span>
                <span class="post-tag">测试</span>
              </div>
            </div>
          </div>
        </section>
      </article>
    </div>
    <footer>

    </footer>
  </div>
  </body>
</html>